@media (min-width: 1200px) {}

@media (max-width: 991px) {
  .page-footer, .footer-logo {
    text-align: center;
    padding-bottom: 10px;
  }
  .page-footer i.fab {
    padding: 0 20px;
  }
  .img-benefit,
  .our-benefits-title,
  .our-benefits-description  {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .icon-burg {
    display: none;
  }
}

@media (max-width: 767px) {

  .top-navigation {
    flex-direction: column;
  }
  .top-navigation .nav-item {
    border: none;
  }
  .nav-item-logo {
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .top__title {
    font-size: 15px;
    line-height: 26px;
  }
  
  .top__suptitle {
    position: relative;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

