/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

body {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

.menu-wrapper {
  height: 75px;
}

/* burger menu start */

.icon-burg {
	width: 38px;
	height: 38px;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
  top: 50%;
  transform: translate(0, -50%);
	width: 100%;
	text-align: center;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 26px;
	color: #f5eee8;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 60px;
}

/* burger menu end */

/* NAVIGATION start */

header {
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 15;
}

/* як вставити логотип svg ??? */

/* .navbar-brand {
  display: block;
  text-indent: -9999px;
  width: auto;
  height: 25px;
  background: url(../img/icon-logo.svg);
  background-size: contain;
} */

header .nav-item {
  color: #191919;
  font-size: 16px;
  margin-left: 10px;
}

header .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #10c9c3;
  height: 2px;
  transform: scale(0);
  transition: all .3s;
}

header .nav-item a:hover::after {
  transform: scale(1);
}

header .nav-link.active::after {
  transform: scale(1);
}

/* NAVIGATION end */

/* TOP-CAROUSEL start */

.wrapper-carousel {
  padding-left: 0;
  padding-right: 0;
}

.top-carousel {
  height: 100vh;
}

.top__inner {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  /* font-family: 'Montserrat', sans-serif; */
}

.top__title {
  font-size: 15px;
  line-height: 26px;
  /* font-family: 'Montserrat', sans-serif; */
}

.top__suptitle {
  position: relative;
  font-size: 38px;
  line-height: 44px;
  /* font-family: 'Italianno', cursive; */
  margin-bottom: 40px;
  margin-top: 110px;
}

button.contact-us {
  color: #fff;
  background-color: #10c9c3;
  border-color: #10c9c3;
  border-radius: 0;
}

.top__item-1, .top__item-2, .top__item-3 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top__item-1 {
  background-image: url(../img/slide-1.jpg);
}

.top__item-2 {
  background-image: url(../img/slide-4.jpg);
}

.top__item-3 {
  background-image: url(../img/slide-3.jpg);
}

.top__item-fon {
  background-color: rgba(0, 0, 0, .35);
  height: 100vh;
}

.top__slider .slick-dots {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.top__slider .slick-dots li button {
  height: 35px;
  width: 0px;
  font-size: 0;
  background-color: transparent;
  border: none;
  border-left: 1px solid transparent;
  outline: none;
  position: relative;
  padding: 0 24px 0 0;
  cursor: pointer;
}

.top__slider .slick-dots li.slick-active button {
  border-left: 1px solid #10c9c3;
}

.top__slider .slick-dots li button:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 9px;
  font-size: 15px;
  color: rgba(255, 255, 255, .5);
}

.top__slider .slick-dots li.slick-active button:before {
  color: #10c9c3;
}

/* TOP-CAROUSEL end */

/* ABOUT-US start */

.subtitle-about-us {
  color: #787878;
  max-width: 585px;
}

.modal-contact-us {
  padding-right: 0!important;
}

input.modal-empty-area, textarea.modal-empty-area {
  background-color: #e1efef;
  border-radius: 0;
}

textarea.modal-empty-area {
  resize: none;
  overflow: auto;
}

/* ABOUT-US end */

/* PROFFESIONALS-SKILLS start */

.proffesional-skills .left {
  background: url(../img/skills-bg.png);
  background-repeat: repeat;
  background-size: cover;
}

.progress-bar {
  background-color: #10c9c3;
}

.progress {
  height: 4px;
}

.proffesional-skills .right {
  padding: 0 0;
}

.proffesional-skills .right img {
  width: 570px;
  height: 570px;
  object-fit: cover;
}

/* PROFFESIONALS-SKILLS end */

/* INFORMATION strart */

.information {
  background-color: #10c9c3;
}

.info-block-number {
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

.info-block-name {
  position: relative;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
}

.info-block {
  position: relative;
  padding-left: 100px;
}

.info-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: auto;
  background-image: url(../img/icon-custom.svg);
  background-repeat: no-repeat;
}

/* INFORMATION end */

/* SECTION-GALLERY start */

.gallery-paddings {
  padding-left: 0;
  padding-right: 0;
}

.image-wrapper {
  position: relative;
}

a.text-portfolio {
  /* font-family: 'Public Sans', sans-serif; */
  color: #fff;
  margin: 0 0 1rem 0;
  font-size: 30px;
  position: relative;
}

a.stripe-black::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 45px;
  height: 2px;
  background-color: #000;
}

.section-gallery .navbar-light .navbar-nav .nav-link {
  color: #626f76;
}

.section-gallery .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.gallery-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-wrapper:hover .gallery-img {
  background: rgba(0, 0, 0, .9);
  opacity: .8;
}

.image-wrapper:hover .middle {
  opacity: 1;
}

/* SECTION-GALLERY end */

/* WORK-PROCESS start */

.ytp-chrome-top, .ytp-show-cards-title {
  display: none!important;
}

/* WORK-PROCESS end */

/* IDEAS START */

.ideas-name {
  color: #555555;
  font-size: 22px;
}

.ideas-description {
  color: #8c8c8c;
}

.ideas-block img {
  width: auto;
  height: 39px;
}

/* IDEAS END */

/* SINGLE-ITEM-CAROUSEL  start */

.one, .two, .third {
  min-height: 500px;
}

.single-item-first {
  background-color: #10c9c3;
}

.single-item-second {
  background-color: #2F9793;
}

.single-item-third {
  background-color: #05837E;
}

.single-item-first, .single-item-second, .single-item-third {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.single-item .slick-dots {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 0;
}

.single-item .slick-dots li button {
  height: 35px;
  width: 0px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  padding: 0 24px 0 0;
  cursor: pointer;
}

.single-item .slick-dots li.slick-active button:before {
  border-color: #ffffff;
  background-color: #ffffff;
}

.single-item .slick-dots li button:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: rgba(209, 217, 239, 0);
}

.single-item .slick-dots li.slick-active button:before {
  color: #10c9c3;
}

.single-item-first, .single-item-second, .single-item-third {
  position: relative;
}

.blockquote-on-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.blockquote-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.blockquote-footer {
  color: #ffffff;
}

/* SINGLE-ITEM-CAROUSEL  end */

/* SECTION-BRENDS START */

.section-brends {
  background-color: #141414;
}

.section-brends img {
  max-width: 100%;
  height: auto;
}

/* SECTION-BRENDS END */

/* PROJECT-FORM start */

.project-form {
  background-color: #eaeaea;
}

input.empty-area, textarea.empty-area {
  background-color: #ffffff;
  border-radius: 0;
  border: none;
}

textarea.empty-area {
  resize: none;
  overflow: auto;
}

button.button-message {
  color: #fff;
  background-color: #4bcaff;
  border-color: #4bcaff;
  border-radius: 0;
}

.btn-primary:hover {
  color: #141414;
  background-color: #71E4E0;
  border-color: #71E4E0;
}

/* PROJECT-FORM end */

/* PAGE-FOOTER start */

footer.page-footer {
  background-color: #141414;
}

/* .footer-logo {
  padding: 15px 0 0 0;
  text-align: right;
} */

.footer-logo-subheading {
  color: #8892a4;
}

i.fab {
  font-family: "FontAwesome";
  color: rgb(144, 154, 173);
  padding-right: 25px;
}

i.fab:hover {
  color: #e7f4f8;
}

h5.footer-title {
  color: #ffffff;
}

.page-footer a {
  color: #8892a4;
  text-decoration: none;
}

.page-footer a:hover {
  color: #ffffff;
}

address strong {
  color: #e7f4f8;
}

/* PAGE-SECTION FOOTER end */

/* page work.html start  */

.graphic-designer {
  background-color: #f6f6f6;
}

/* page work.html end  */

/* page about.html start  */

.opacity {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.opacity {
  background-image: url(../img/about-wrap.jpg);
}

.about-image {
background-color: rgba(0, 0, 0, .35);
height: 100%;
}

.top__title-about {
  font-size: 15px;
  line-height: 26px;
}

.top__suptitle-about {
  position: relative;
  font-size: 38px;
  line-height: 44px;
  margin-bottom: 20px;
}

/* page about.html end  */

/* 

.top__item-1, .top__item-2, .top__item-3 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top__item-1 {
  background-image: url(../img/slide-1.jpg);
}

.top__item-2 {
  background-image: url(../img/slide-4.jpg);
}

.top__item-3 {
  background-image: url(../img/slide-3.jpg);
}

.top__item-fon {
  background-color: rgba(0, 0, 0, .35);
  height: 100vh;
} */