/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 31px;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

.menu-wrapper {
  height: 100px;
}

/* burger menu start */

.icon-burg {
  width: 38px;
  height: 38px;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #f5eee8;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 60px;
}

/* burger menu end */

/* NAVIGATION start */

header {
  position: absolute;
  top: 15px;
  width: 100%;
  z-index: 15;
}

/* як вставити логотип svg ??? */

/* .navbar-brand {
  display: block;
  text-indent: -9999px;
  width: auto;
  height: 25px;
  background: url(../img/icon-logo.svg);
  background-size: contain;
} */

.navbar-light .navbar-nav .nav-link {
  color: #242424;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #4e4e4e;
}

header .nav-item {
  font-size: 18px;
  margin-left: 10px;
}

header .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #10c9c3;
  height: 2px;
  transform: scale(0);
  transition: all .3s;
}

header .nav-item a:hover::after {
  transform: scale(1);
}

/* NAVIGATION end */

/* TOP-CAROUSEL start */

.wrapper-carousel {
  padding-left: 0;
  padding-right: 0;
}

.top-carousel {
  height: 100vh;
}

.top__inner {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  /* width: 75%; */
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
  /* font-family: 'Montserrat', sans-serif; */
}

/* .top__title {
  font-size: 15px;
  line-height: 26px;
} */

.top__suptitle {
  position: relative;
  font-size: 38px;
  line-height: 44px;
  /* font-family: 'Italianno', cursive; */
  margin-bottom: 40px;
}

button.contact-us {
  color: #fff;
  background-color: #10c9c3;
  border-color: #10c9c3;
  border-radius: 25px;
}

.top__item-1, .top__item-2, .top__item-3 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top__item-1 {
  background-image: url(../img/slide-1.jpg);
}

.top__item-2 {
  background-image: url(../img/slide-4.jpg);
}

.top__item-3 {
  background-image: url(../img/slide-3.jpg);
}

.top__item-fon {
  background-color: rgba(0, 0, 0, .35);
  height: 100vh;
}

.top__slider .slick-dots {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.top__slider .slick-dots li button {
  height: 35px;
  width: 0px;
  font-size: 0;
  background-color: transparent;
  border: none;
  border-left: 1px solid transparent;
  outline: none;
  position: relative;
  padding: 0 24px 0 0;
  cursor: pointer;
}

.top__slider .slick-dots li.slick-active button {
  border-left: 1px solid #10c9c3;
}

.top__slider .slick-dots li button:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 9px;
  font-size: 15px;
  color: rgba(255, 255, 255, .5);
}

.top__slider .slick-dots li.slick-active button:before {
  color: #10c9c3;
}

/* TOP-CAROUSEL end */

/* ABOUT-US start */

.subtitle-about-us {
  color: #787878;
  padding: 0 170px 0;
}

.modal-contact-us {
  padding-right: 0!important;
}

input.modal-empty-area, textarea.modal-empty-area {
  border-radius: 3px;
}

textarea.modal-empty-area {
  resize: none;
  overflow: auto;
}

/* ABOUT-US end */

/* PROFFESIONALS-SKILLS start */

.proffesional-skills .left {
  background: url(../img/skills-bg.png);
  background-repeat: repeat;
  background-size: cover;
}

.progress-bar {
  background-color: #10c9c3;
}

.progress {
  height: 4px;
}

.proffesional-skills .right {
  padding: 0 0;
}

.proffesional-skills .right img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* PROFFESIONALS-SKILLS end */

/* INFORMATION strart */

.information {
  background-color: #10c9c3;
}

.info-block-number {
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

.info-block-name {
  position: relative;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
}

.info-block {
  position: relative;
  padding-left: 100px;
}

.info-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: auto;
  background-image: url(../img/icon-custom.svg);
  background-repeat: no-repeat;
}

/* INFORMATION end */

/* SECTION-GALLERY start */

.gallery-paddings {
  padding-left: 0;
  padding-right: 0;
}

.image-wrapper {
  position: relative;
}

a.text-portfolio {
  /* font-family: 'Public Sans', sans-serif; */
  color: #fff;
  margin: 0 0 1rem 0;
  font-size: 30px;
  position: relative;
}

.section-gallery .navbar-light .navbar-nav .nav-link {
  color: #626f76;
}

.section-gallery .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.gallery-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image-wrapper:hover .gallery-img {
  background: rgba(0, 0, 0, .9);
  opacity: .8;
}

.image-wrapper:hover .middle {
  opacity: 1;
}

/* SECTION-GALLERY end */

/* WORK-PROCESS start */

.ytp-chrome-top, .ytp-show-cards-title {
  display: none!important;
}

/* WORK-PROCESS end */

/* IDEAS START */

.ideas-name {
  color: #555555;
  font-size: 22px;
}

.ideas-description {
  color: #8c8c8c;
}

.ideas-block img {
  width: auto;
  height: 39px;
}

/* IDEAS END */

/* SINGLE-ITEM-CAROUSEL  start */

.one, .two, .third {
  min-height: 500px;
}

.single-item-first {
  background-color: #10c9c3;
}

.single-item-second {
  background-color: #2F9793;
}

.single-item-third {
  background-color: #05837E;
}

.single-item-first, .single-item-second, .single-item-third {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.single-item .slick-dots {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 0;
}

.single-item .slick-dots li button {
  height: 35px;
  width: 0px;
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  padding: 0 15px 0;
  cursor: pointer;
}

.single-item .slick-dots li.slick-active button:before {
  border-color: #ffffff;
  background-color: #ffffff;
}

.single-item .slick-dots li button:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: rgba(209, 217, 239, 0);
}

.single-item .slick-dots li.slick-active button:before {
  color: #10c9c3;
}

.single-item-first, .single-item-second, .single-item-third {
  position: relative;
}

.blockquote-on-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.blockquote-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.blockquote-footer {
  color: #ffffff;
}

/* SINGLE-ITEM-CAROUSEL  end */

/* SECTION-BRENDS START */

.section-brends {
  background-color: #141414;
}

.section-brends img {
  max-width: 100%;
  height: auto;
}

/* SECTION-BRENDS END */

/* PROJECT-FORM start */

.project-form {
  background: #E0EAFC;
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

input.empty-area, textarea.empty-area {
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
}

textarea.empty-area {
  resize: none;
  overflow: auto;
}

button.button-message {
  color: #fff;
  background-color: #4bcaff;
  border-color: #4bcaff;
  border-radius: 25px;
}

.btn-primary:hover {
  color: #556b72;
  background-color: #71E4E0;
  border-color: #71E4E0;
}

/* PROJECT-FORM end */

/* PAGE-FOOTER start */

footer.page-footer {
  background-color: #141414;
}

.footer-logo-subheading {
  color: #8892a4;
}

ul.social-icons {
  display: inline-flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  padding-inline-start: 0;
}

i.fab {
  font-family: "FontAwesome";
  color: rgb(144, 154, 173);
  padding-right: 25px;
}

i.fab:hover {
  color: #e7f4f8;
}

h5.footer-title {
  color: #ffffff;
}

.page-footer a {
  color: #8892a4;
  text-decoration: none;
}

.page-footer a:hover {
  color: #ffffff;
}

address strong {
  color: #e7f4f8;
}

/* PAGE-SECTION FOOTER end */

/* page work.html start  */

.graphic-designer {
  background-color: #f6f6f6;
}

/* page work.html end  */

/* page about.html start  */

.opacity {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.opacity {
  background-image: url(../img/about-wrap.jpg);
}

.about-image {
  background-color: rgba(0, 0, 0, .35);
  height: 100%;
}

.top__title-about {
  font-size: 15px;
  line-height: 26px;
}

.top__suptitle-about {
  position: relative;
  font-size: 38px;
  line-height: 44px;
}

/* page about.html end  */

/* services.html start */

/* section SIGN-UP start */

.sign-up input, .sign-up select, .sign-up-form input {
  font-size: 14px;
  height: 50px;
  border: none;
}

.sign-up input, .sign-up select, .sign-up-form input {
  border-radius: 3px;
}

.sign-up-form input {
  border-radius: 0;
 }

/* section SIGN-UP end */

/* section OUR-BENEFITS start */

.our-benefits-title {
  color: #556b72;
  font-size: 16px;
  font-weight: 800;
}

.our-benefits-description {
  color: #a0a9b6;
  line-height: 26px;
}

/* section OUR-BENEFITS end */

/* section OUR-HOSTING start */

span.upper-title {
  color: #859aa1;
  text-transform: uppercase;
}

.main-title {
  color: #556b72;
  font-size: 30px;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.internal {
  border: none;
}

.card {
  border-radius: 1.25rem;
}

.сard-hover:hover {
  -webkit-box-shadow: 0 5px 16px #ccc;
  box-shadow: 0 5px 16px #ccc;
}

h5.card-title {
  position: relative;
  color: #556b72;
  font-size: 50px;
  font-weight: 800;
  padding-left: 25px;
}

.card-title::before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 35px;
  display: block;
  content: "\0024";
  color: #556b72;
  font-size: 50px;
  font-weight: 300;
}

.card-text {
  color: #556b72;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.card-text-tarif-plan {
  color: #ffffff;
  background-color: #52cbf8;
  font-weight: 800;
  line-height: 40px;
  border-radius: 50px;
}

.tarif-plan-economy {
  background-color: #F7A13E;
}

.tarif-plan-premium {
  background-color: #2DCC70;
}

.tarif-plan-business {
  background-color: #3597DA;
}

.tarif-plan-first-class {
  background-color: #E52F62;
}

.btn-hosting-sign {
  width: 115px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
}

.btn-hosting-sign.economy {
  background-color: #F7A13E;
}

.btn-hosting-sign.premium {
  background-color: #2DCC70;
}

.btn-hosting-sign.business {
  background-color: #3597DA;
}

.btn-hosting-sign.first-class {
  background-color: #E52F62;
}

/* section OUR-HOSTING end */

/* section SIGN-UP-footer start */

.sign-up-form, 
.sign-up-button {
  flex-grow: 0;
}

.sign-up-form {
  padding-right: 0;
} 

.sign-up-button {
  padding-left: 0;
}

section.sign-up, section.sign-up-footer {
  background-color: #e7f4f8;
}

.btn-hosting-search {
  width: 100%;
}

.btn-sign-up-form {
  width: 115px;
}

.btn-hosting-search, .btn-sign-up-form {
  height: 50px;
  font-weight: 700;
  background-color: #F7A13E;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-hosting-search {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.sign-up-form input.form-control-lg {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* section SIGN-UP end */

/* services.html end */

/* page contact.html start  */

.contact-map {
  height: 400px;
  width: 100%;
}

/* page contact.html end  */